<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mycrodiary"
        tools:targetApi="31">
        <activity
            android:name=".editcroplist.AddcropdiaryActivity"
            android:exported="false" />
        <activity
            android:name=".cropdiarypages.DiarypageActivity"
            android:exported="false" />
        <activity
            android:name=".cropdiarypages.CropdiarypageActivity"
            android:exported="false" />
        <activity
            android:name=".settingpage.SettingpageActivity"
            android:exported="false" />
        <activity
            android:name=".mytreepage.MytreepageActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MypageActivity"
            android:exported="false" />
        <activity
            android:name=".accountpage.SignuppageActivity"
            android:exported="false" />
        <activity
            android:name=".mainpage.MainpageActivity"
            android:exported="false" />
        <activity
            android:name=".accountpage.LoginpageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>